<div class = "container">
    <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="field">
        <%= f.label :Name %>
        <%= f.text_field :commenter %>
    </div>
    <div class="field">
        <%= f.label :comment %>
        <%= f.text_area :body %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <% end %>
    
    <br />
</div>
 