
<h3>Search Result</h3>  
        <p><%= alert %></p>
    <% @results.each do |result| %>  
        <div>
          <% if result.image %>
            <%= link_to (image_tag result.image)%>
        <%end%>
            <p><b><%= result.make%></b>, <%= result.model%>, <%= result.year %></p>
        </div> 
    <% end %>