<div id = "NewPost" class = "container">
<br>
<div id = "postForm" class="form-group">
  <%= form_for(@post) do |f| %>
    <%= f.label :image %>
    <%= f.text_field :image, class: "form-control" %>
      <br>
      <br>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
      <br>
      <br>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
      <br>
      <br>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
      <br>
      <br>
    <%= f.label :body_long%>
    <%= f.text_area :body_long, class: "form-control" %>
      <br>
      <br>
    <%= f.submit %>
  </div>
  </form>

  <br>
<% end %>
</div>
<br>
