<div class = "container">
<h1>News Reviews Advice</h1>
<br>
<br>
<div class = "container">   
<% @posts.each do |post| %>
<h4><%= post.title %></h4>
<% if post.image %>
        <%= link_to (image_tag post.image), post_path(post.id) %>
    <% end %>
    <br>
<h5>Author:<%= post.name %></h5>
<br>
<p><%= post.content %></p>
<a><%= link_to 'Read more', post %></a>
<br>
<br>
<% end %>
</div> 

<br />
 
<%= link_to 'New post', new_post_path %>
</div>
