<div class = "container">
<h1>Listing posts</h1>
<br>
<br>
<div class = "container">   
<% @posts.each do |post| %>
<h3>Author:<%= post.name %></h3>
<h4><%= post.title %></h4>
<p><%= post.content %></p>
<a><%= link_to 'Read more', post %></a>
<br>
<br>
<% end %>
</div> 

<br />
 
<%= link_to 'New post', new_post_path %>
</div>
