<div class = "container">
<p id="notice"><%= notice %></p>
<p>
  <b>T<%= @post.title %></b>
</p>
<% if @post.image %>
        <a><img src="<%=(image_tag @post.image), post_path(@post.id) %>"class="img-fluid" alt="Responsive image"></a>>
    <% end %>

<p>
<br>
  <b>Author:</b>
  <%= @post.name %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
<br>

<p>
  <b>Content:</b>
  <%= @post.body_long %>
</p>
<br>

<b>Comments</b>
<br>
<%= render @post.comments %>

<b>Add a comment:</b>
<%= render "comments/form" %>

<% if current_user %>
<% if current_user.id == @post.user_id %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', post, :confirm => 'Are you sure?',
                                     :method => :delete %>
<%= link_to 'Back', posts_path %> |
<% end %>
<% end %>

</div>


