
<section class="mb-4">


   <div class = "container">

      <h1 class="h1-responsive my-4"><%= @car.make %> <%= @car.model%></h1>
      <h5 class="card-title">Cars for Sale</h5>
      <p id="notice"><%= notice %></p>
      <b>Seller: <%= @car.user.name%></b>
      <br>
       <a><img src="<%=image_url(@car.image) %>" class="img-fluid" alt="Responsive image"></a> 
       <br>
       <div class="w-responsive mx-auto mb-5">
       <br>
          <p><b><%= @car.make%></b> <%= @car.model%></p>
          <p><b>Year:</b> <%= @car.year %> </p>
          <p><b>Color:</b> <%= @car.color%></p>
          <p><b>Key features: </b><%= @car.key_features %></p>
          <p>Drive away from<b> </b> <%= @car.price%>*</p>
      </div>
    
       <br>

         <% if current_user %>
            <% if current_user.id == @car.user_id %>
               <button><%= link_to "Delete", href="/cars/"+@car.id.to_s, :confirm => "Are you sure?", :method => :delete %></button>
               <button><%= link_to 'Edit', href="/cars/"+@car.id.to_s+"/edit" %></button> <button><%= link_to 'Back', cars_path %></button>
            <% end %>

   </div>
            <% else %>
   <div class = "container">
               <!--Section: Contact v.2-->
               <!--Section heading-->
               <h2 class="h1-responsive my-4">Contact <%= @car.user.name%><br></h2>
               <!--Section description-->
               <p class="w-responsive mx-auto mb-5">Do you have any questions? Our team will come back to you within
                  a matter of hours to help you.</p>

               <div class="row">

                  <!--Grid column-->
                  <div class="col-md-9 mb-md-0 mb-5">
                        <form id="contact-form" name="contact-form" action="#" method="POST">

                           <!--Grid row-->
                           <div class="row">

                              <!--Grid column-->
                              <div class="col-md-6">
                                    <div class="md-form mb-0">
                                       <label for="name" class="">Your name</label>
                                       <input type="text" id="name" name="name" class="form-control">
                                    </div>
                              </div>
                              <!--Grid column-->

                              <!--Grid column-->
                              <div class="col-md-6">
                                    <div class="md-form mb-0">
                                       <label for="email" class="">Your email</label>
                                       <input type="text" id="email" name="email" class="form-control">
                                    </div>
                              </div>
                              <!--Grid column-->

                           </div>
                           <!--Grid row-->

                           <!--Grid row-->
                           <div class="row">
                              <div class="col-md-12">
                                    <div class="md-form mb-0">
                                       <label for="subject" class="">Subject</label>
                                       <input type="text" id="subject" name="subject" class="form-control">
                                    </div>
                              </div>
                           </div>
                           <!--Grid row-->

                           <!--Grid row-->
                           <div class="row">

                              <!--Grid column-->
                              <div class="col-md-12">

                                    <div class="md-form">
                                       <label for="message">Your message</label>
                                       <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                       
                                    </div>

                              </div>
                           </div>
                           <!--Grid row-->

                        </form>

                        <br>

                        <div class="text-center text-md-left">
                           <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                        </div>
                        <div class="status"></div>
                  </div>
                  <!--Grid column-->

               </div>

      </div>
    <% end %>
         
</section>
<!--Section: Contact v.2-->
  

