<h1><%= @car.make %><%= @car.model%></h1>
<p>Find me in app/views/cars/show.html.erb</p>
<div class="container">

<h5 class="card-title">Cars for Sale</h5>
<div class="list-group">   
       <div>
       <li>
       <a><%=image_tag @car.image%></a> <br>
          <%= @car.make%> <br>
          <%= @car.user.name%><br>
          <%= @car.model%> <br>
          <%= @car.year %> <br>
          <%= @car.color%>
       </li>
       </div>
            
       <br>
         <% if current_user %>
            <% if current_user.id == @car.user_id %>
               <button><%= link_to "Delete", href="/cars/"+@car.id.to_s, :confirm => "Are you sure?", :method => :delete %></button>
               <%= link_to 'Edit', href="/cars/"+@car.id.to_s+"/edit" %> <%= link_to 'Back', cars_path %>
            <% end %>
         <% else %>
            stuff for if they are not logged in
         <% end %>
        
    <br/>

  </div>

  <br>

</div>

